@model LMSWeb.ViewModel.TblUserViewModel
<style>
</style>
<div id="dvUpdateStages">
    <div class="col-md-12 profile-details list-box" style="padding-left:20px;">
        <div class="row pt-5 pl-4" style="display:flex;">
            <h5 class="mb-4">Stages</h5>
        </div>
        <div class="row pl-4" style="display:flex;">

            @foreach (var stage in Model.lstClientStages)
            {
                var stageId = "txtStage" + stage.StageId;
                <div class="row col-sm-4 col-md-4 col-xl-4 ml-auto mr-auto">
                    <input type="text" class="input100" placeholder="Stage Name" id="@stageId" value="@stage.StageName" />
                </div>
            }

        </div>
        <div class="row pt-5 pl-4" style="display:flex;">
            <h5 class="mb-4"> Sub Stages</h5>
        </div>
        <div class="row pl-4" id="dvSubStages">

            @foreach (var subStage in Model.lstClientSubStages)
            {
                var subStageId = "txtSubStage" + subStage.SubStageId;
                var chkSubStageId = "chkSubStage" + subStage.SubStageId;
                var dvId = "dv" + subStage.SubStageId; ;
                <div class="row col-6 ml-auto mr-auto" id="@dvId">
                    <input type="text" class="input100" placeholder="Sub Stage Name" id="@subStageId" value="@subStage.SubStageName" />
                    <span style="padding-top:12px;padding-left:20px;">
                        <input type="checkbox" style="width:20px;height:20px; cursor:pointer;" id="@chkSubStageId" checked="@subStage.IsActive" />
                    </span>
                </div>
            }

        </div>
        <div class="row col-12 justify-content-end p-4">
            <button type="button" id="btnStageUpdate" class="btn btn-primary profle-submit-btn mr-4"><img src="~/assets/images/check-img.png" /> Save Changes</button>

        </div>

    </div>
</div>

<script>
    $(document).ready(function () {
        $('#btnStageUpdate').on("click", function () {
            UpdateStagesToDB();
        });

    });
    function UpdateStagesToDB() {

        if ($("#txtStage1").val() == "" || $("#txtStage1").val() == null) {
            toastr.error('Please enter Stage Name');
            $("#txtStage1").focus();
            return false
        }
        if ($("#txtStage2").val() == "" || $("#txtStage2").val() == null) {
            toastr.error('Please enter Stage Name');
            $("#txtStage2").focus();
            return false
        }
        if ($("#txtStage3").val() == "" || $("#txtStage3").val() == null) {
            toastr.error('Please enter Stage Name');
            $("#txtStage3").focus();
            return false
        }

        var IDs = $("#dvSubStages div[id^='dv']");
        $.each(IDs, function (index, value) {
            var id = value.id.substring(2, value.id.length);
            if ($("#txtSubStage" + id).val() == "" || $("#txtSubStage" + id).val() == null) {
                toastr.error('Please enter Sub Stage Name');
                $("#txtSubStage" + id).focus();
                return false
            }
        });

        var ItemObject = [];
        Item1 = {}
        Item1["StageId"] = 1;
        Item1["StageName"] = $("#txtStage1").val();
        ItemObject.push(Item1);

        Item2 = {}
        Item2["StageId"] = 2;
        Item2["StageName"] = $("#txtStage2").val();
        ItemObject.push(Item2);

        Item3 = {}
        Item3["StageId"] = 3;
        Item3["StageName"] = $("#txtStage3").val();
        ItemObject.push(Item3);

        var jsonStageData = JSON.stringify(ItemObject);

        var ItemSubStageObject = [];
        $.each(IDs, function (index, value) {
            var id = value.id.substring(2, value.id.length);
            Item = {}
            Item["SubStageID"] = id;
            Item["SubStageName"] = $("#txtSubStage" + id).val();
            Item["SubStageIsActive"] = $("#chkSubStage" + id).is(":checked");// $("#chkSubStage" + id).val();

            ItemSubStageObject.push(Item);
        });

        var jsonSubStageData = JSON.stringify(ItemSubStageObject);

        Swal.fire({
            title: 'Are you sure?',
            text: 'Updating Stages might not show some data',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Let’s go',
            cancelButtonText: 'No, wait'
        }).then((result) => {
            if (result.value) {
                $("#divLoader").show();

                $.ajax({
                    type: "POST",
                    url: "/AdminSettings/UpdateStages",
                    data: '{jsonStageData: ' + JSON.stringify(jsonStageData) + ',jsonSubStageData: ' + JSON.stringify(jsonSubStageData) + '}',
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (response) {
                        $("#divLoader").hide();
                    },
                    failure: function (response) {
                    },
                    error: function (response) {
                        if (response.responseText == "True") {
                            toastr.success("Stages Updated");
                        }
                        else {
                            toastr.error('error occured while updateing data');
                        }
                        $("#divLoader").hide();
                    }
                });
            }
        })

    }

</script>