@model LMSWeb.ViewModel.TblUserViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutCRM.cshtml";
}
<style>
    body, html {
        height: 100%;
        margin: 0;
        font-family: Arial;
    }

    /* Style tab links */
    .tablink {
        background-color: darkblue;
        color: white;
        float: left;
        border: solid white;
        outline: none;
        cursor: pointer;
        padding: 14px 16px;
        font-size: 17px;
        width: 25%;
    }

        .tablink:hover {
            background-color: darkblue;
            color: black;
        }

    /* Style the tab content (and add height:100% for full page content) */
    .tabcontent {
        color: black;
        display: none;
        padding: 50px 20px;
        height: 100%;
    }

    #Home {
        background-color: red;
    }

    
</style>
@using (Html.BeginForm("UpdateUser", "AdminSettings", FormMethod.Post, new { enctype = "multipart/form-data", id = "frmupdateUser", @class = "multisteps-form__form" }))
{
    @Html.HiddenFor(model => model.imageJson)
    @Html.HiddenFor(model => model.imageName)
    @Html.HiddenFor(model => model.objtbluser.CRMClientId, new { @id = "hdnCRMClientId" })
    <div class="row justify-content-center">
        <button type="button" class="tablink" onclick="openPage('dvprofile', this,'orange')" id="defaultOpen">Profile</button>
        @if (Model.objtbluser.RoleId == 2)
        {
            <button type="button" class="tablink" onclick="openPage('dvmanageuser', this,'orange')">Manage Users</button>
            <button type="button" class="tablink" onclick="openPage('dvUpdateStages', this,'orange')">Update Stages</button>
        }
    </div>
    <div id="dvprofile" class="tabcontent">
        @Html.Partial("~/Views/AdminSettings/_UserProfile.cshtml", Model)

    </div>
    <div id="dvmanageuser" class="tabcontent">
        <div class="col-md-12 profile-details list-box" style="padding-left:20px;">
            <div class="row pt-4 pl-3" style="display:flex;">
                <h5 class="mb-2">Manage Users</h5>
            </div>
            <div class="container-fluid mt-4 mb-4 pl-4 pr-4" id="dvAddEditUser" style="display:none;">
                @Html.Partial("~/Views/AdminSettings/_AddAdminUser.cshtml", Model)
            </div>
            <div class="row" id="dvUserList">
                @Html.Partial("~/Views/AdminSettings/_ManageUser.cshtml", Model)
            </div>
        </div>
    </div>

    <div id="dvUpdateStages" class="tabcontent">
        @Html.Partial("~/Views/AdminSettings/_UpdateStages.cshtml", Model)
    </div>


}
<script>
    $(document).ready(function () {
        document.getElementById("fileNew").addEventListener('change', handleFileSelect, false);
        $('#btnUsersubmit').on("click", function () {
            UpdateToDB();
        });
        $('#btnUserAdd').on("click", function () {
            AddUserToDB();
        });
        $('#btnUserCancel').on("click", function () {
            CloseAddSection();
        });
        $('#btnAdminUserAdd').on("click", function () {
            OpenAddUser();
        });
        $('#btnProfilePic').on("click", function () {
            $('#file').click();
        });

    });
    function UpdateToDB() {
        if ($("#txtFirstName").val() == "" || $("#txtFirstName").val() == null) {
            toastr.error('Please enter First Name');
            $("#txtFirstName").focus();
            return false
        }
        if ($("#txtEmail").val() == "" || $("#txtEmail").val() == null) {
            toastr.error('Please enter Email');
            $("#txtEmail").focus();
            return false
        }
        $("#divLoader").show();
        var data = $('#frmupdateUser').serialize();
        console.log(data);
        $.ajax({
            url: $('#frmupdateUser').attr('action'),
            type: 'post',
            dataType: "html",
            data: data,
            success: function (data) {
                console.log(data)
                if (data == "True") {
                    toastr.success("User Updated");
                    $("#divLoader").hide();

                }
                else {
                    toastr.error('error occured while updateing data');
                    $("#divLoader").hide();
                }
            }
        });
    }
    function handleFileSelect(evt) {

        var f = evt.target.files[0]; // FileList object
        var reader = new FileReader();
        // Closure to capture the file information.
        reader.onload = (function (theFile) {
            return function (e) {
                var binaryData = e.target.result;
                var base64String = window.btoa(binaryData);
                $("#imageJson").val(base64String);
                $("#imageName").val($("#fileNew")[0].files[0].name);
                console.log($("#imageName").val());
            };
        })(f);
        // Read in the image file as a data URL.
        reader.readAsBinaryString(f);

    }
    function openPage(pageName, elmnt, color) {
        // Hide all elements with class="tabcontent" by default */
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        //console.log(tabcontent);
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
            // console.log('inside');
        }
        //  Remove the background color of all tablinks/buttons
        tablinks = document.getElementsByClassName("tablink");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].style.backgroundColor = "";
        }

        //  Show the specific tab content
        document.getElementById(pageName).style.display = "block";

        //  Add the specific color to the button used to open the tab content
        elmnt.style.backgroundColor = color;
    }

    document.getElementById("defaultOpen").click();

    function CloseAddSection() {
        $("#dvAddEditUser").hide(1000);
    }
    function OpenEditUser(id) {
        $("#divLoader").show();
        $("#txtAdminFirstName").val("");
        $("#txtAdminEmail").val("");
        $("#txtAdminContact").val("");
        $("#txtAdminLastName").val("");
        $("#txtAdminPassword").val("");

        $.ajax({
            type: "POST",
            url: "/AdminSettings/GetAdminUserForEdit",
            data: '{UserId: ' + JSON.stringify(id) + '}',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                $("#dvAddEditUser").html(response);
                $("#divLoader").hide();
            },
            failure: function (response) {
            },
            error: function (response) {
                $("#dvAddEditUser").html(response.responseText);
                $("#divLoader").hide();

            }
        });
        $("#dvAddEditUser").show(1000);        

    }
    function OpenAddUser() {
        $("#txtAdminFirstName").val("");
        $("#txtAdminEmail").val("");
        $("#txtAdminContact").val("");
        $("#txtAdminLastName").val("");
        $("#txtAdminPassword").val("");
        $("#dvAddEditUser").show(1000);
    }
    function AddUserToDB() {

        if (isValidate()) {
            var ItemObject = [];
            invoiceItem = {}
            invoiceItem["UserId"] = $("#txtAdminUserId").val();
            invoiceItem["FirstName"] = $("#txtAdminFirstName").val();
            invoiceItem["Email"] = $("#txtAdminEmail").val();
            invoiceItem["Contact"] = $("#txtAdminContact").val();
            invoiceItem["LastName"] = $("#txtAdminLastName").val();
            invoiceItem["Password"] = $("#txtAdminPassword").val();
            ItemObject.push(invoiceItem);
            $("#divLoader").show();
            $.ajax({
                type: "POST",
                url: "/AdminSettings/AddAdminUser",
                data: '{jsonData: ' + JSON.stringify(JSON.stringify(ItemObject)) + '}',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    console.log(1111)
                    $("#divLoader").hide();
                },
                failure: function (response) {
                },
                error: function (response) {
                    if (response.responseText == "True") {

                        $("#txtAdminFirstName").val("");
                        $("#txtAdminEmail").val("");
                        $("#txtAdminContact").val("");
                        $("#txtAdminLastName").val("");
                        $("#txtAdminPassword").val("");

                        $.ajax({
                            type: "POST",
                            url: "/AdminSettings/GetAllAdminUsers",
                            data: '',
                            contentType: "application/json; charset=utf-8",
                            dataType: "json",
                            success: function (response) {

                                $("#dvUserList").html(response);
                                $("#divLoader").hide();
                            },
                            failure: function (response) {
                            },
                            error: function (response) {
                                $("#dvUserList").html(response.responseText);
                                $("#divLoader").hide();

                            }
                        });

                        toastr.success("User Added Successfully");
                        $("#dvAddEditUser").hide(1000);
                        $("#divLoader").hide();
                    }
                    else {
                        toastr.error('error occured while saving User');
                        $("#divLoader").hide();
                    }
                    $("#divLoader").hide();
                }
            });
        }

    }

    function isEmail(email) {
        var regex = /^([\w-\.]+)@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/;
        return regex.test(email);
    }

    function isValidate() {
        if ($("#txtAdminFirstName").val() == "" || $("#txtAdminFirstName").val() == null) {
            toastr.error('Please enter First Name');
            $("#txtAdminFirstName").focus();
            return false
        }
        if (!isEmail($("#txtAdminEmail").val()) || $("#txtAdminEmail").val() == "") {
            toastr.error('Please enter correct Email');
            $("#txtAdminEmail").focus();
            return false
        }
        if ($("#txtAdminPassword").val() == "" || $("#txtAdminPassword").val() == null) {
            toastr.error('Please enter Password');
            $("#txtAdminPassword").focus();
            return false
        }
        return true;
    }

</script>



