

@model LMSWeb.ViewModel.CRMDashboardViewModel

<div class="container-fluid list-box">
    <div class="pt-3 pl-3 pr-3 course-list-container">

        <div class="row">
            <div class="col search-container">
                <h5>Recent <label>@Model.objStageList[2].StageName</label> Activities</h5>
            </div>
        </div>
        <div class="row mt-3" id="dvClientData">
            <div class="table-responsive">
                <table class="table" style="border-bottom:0px !important;" id="clientsTable">
                    <thead>
                        <tr>
                            <th scope="col">Client Name</th>
                            <th scope="col">Updated Date and Time</th>
                            <th scope="col" style="text-align:center;">Lodgement Due Date</th>
                            <th scope="col">Sub Stage</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null)
                        {
                            if (Model.objCRMClientList != null)
                            {
                                if (Model.objCRMClientList.Count > 0)
                                {

                                    foreach (var user in Model.objCRMClientList)
                                    {
                                        LMSWeb.App_Start.CommonFunctions common = new LMSWeb.App_Start.CommonFunctions();
                                        string userId = common.EncryptString(Convert.ToString(user.ClientId));
                                        <tr>
                                            <td>
                                                <a href="@Url.Action("AddClient", "CRMUsers", new { myid = userId })" class="login" title="Edit">@user.FullName</a>
                                            </td>
                                            <td>@Convert.ToDateTime(user.UpdatedOn).ToString("dd/MM/yyyy HH:mm:ss tt")</td>
                                            @if (!string.IsNullOrEmpty(Convert.ToString(user.LodgementDate)))
                                            {
                                                <td style="text-align:center;">@Convert.ToDateTime(user.LodgementDate).ToString("dd/MM/yyyy")</td>
                                            }
                                            else
                                            {
                                                <td></td>
                                            }

                                            <td>@user.SubStageName</td>
                                        </tr>
                                    }
                                    <tr><td colspan="4" style="text-align:end;"><a href="@Url.Action("Clients", "CRMUsers")" class="login" title="View All">View All</a></td></tr>
                                }
                                else
                                {
                                    <tr>
                                        <td colspan="4" align="center">No data available</td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <td colspan="2" align="center">No data available</td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td colspan="2" align="center">No data available</td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>


    </div>
</div>

<script>

    $(document).ready(function () {

        $('#clientsTable').DataTable({
            "aaSorting": [[1, "desc"]],
            "paging": false,
            "ordering": false,
            "info": false,
            "bFilter": true,
            //"pageLength": 10,
            //"pagingType": "simple_numbers",
            aoColumnDefs: [
                {
                    bSortable: false,
                    aTargets: [-1, -2]
                }
            ]
        });

        $('#clientsTable_filter').hide();
    });
</script>