
@model LMSWeb.ViewModel.CRMDashboardViewModel

<div class="container-fluid list-box">
    <div class="pt-3 pl-3 pr-3 course-list-container " style="height:100%;">

        <div class="row">
            <div class="col search-container">
                <h5>Recent Invoices</h5>
            </div>
        </div>
        <div class="row mt-3" id="dvpotentialClientData">
            <div class="table-responsive">
                <table class="table" style="border-bottom:0px !important;" id="invoiceTable">
                    <thead>
                        <tr>
                            <th scope="col">Client Name</th>
                            <th scope="col">Invoice No</th>
                            <th scope="col">Amount</th>
                            <th scope="col">Due Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null)
                        {
                            if (Model.objCRMInvoiceList != null)
                            {
                                if (Model.objCRMInvoiceList.Count > 0)
                                {

                                    foreach (var user in Model.objCRMInvoiceList)
                                    {
                                        LMSWeb.App_Start.CommonFunctions common = new LMSWeb.App_Start.CommonFunctions();
                                        string userId = common.EncryptString(Convert.ToString(user.ClientId));
                                        <tr>
                                            <td>
                                                <a href="@Url.Action("AddClient", "CRMUsers", new { myid = userId })" class="login" title="Edit">@user.FullName</a>

                                            </td>
                                            <td>@user.InvoiceNumber</td>
                                            <td>@user.Amount @user.Currency</td>
                                            @if (!string.IsNullOrEmpty(Convert.ToString(user.InvoiceDueDate)))
                                            {
                                                <td>@Convert.ToDateTime(user.InvoiceDueDate).ToString("dd/MM/yyyy")</td>
                                            }
                                            else
                                            {
                                                <td></td>
                                            }

                                        </tr>
                                    }
                                    <tr><td colspan="4" style="text-align:end;"><a href="@Url.Action("Index", "Invoice")" class="login" title="View All">View All</a></td></tr>
                                }
                                else
                                {
                                    <tr>
                                        <td colspan="4" align="center">No data available</td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <td colspan="2" align="center">No data available</td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td colspan="2" align="center">No data available</td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>


    </div>
</div>

<script>

    $(document).ready(function () {

        $('#invoiceTable').DataTable({
            "aaSorting": [[1, "desc"]],
            "paging": false,
            "ordering": false,
            "info": false,
            "bFilter": true,
            //"pageLength": 10,
            //"pagingType": "simple_numbers",
            aoColumnDefs: [
                {
                    bSortable: false,
                    aTargets: [-1, -2]
                }
            ]
        });

        $('#invoiceTable_filter').hide();
    });
</script>