@model LMSWeb.ViewModel.CRMInvoiceViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutCRM.cshtml";
    var baseURL = System.Configuration.ConfigurationManager.AppSettings["BaseURL"];
}
<style>

    body {
        background: #CDDC39;
        font-family: 'Arimo', sans-serif;
    }

    h2 {
        color: #000;
        text-align: center;
        font-size: 2em;
    }

    .warpper {
        display: grid;
        flex-direction: column;
        align-items: center;
    }

    .tab {
        cursor: pointer;
        padding: 10px 20px;
        margin: 0px 2px;
        background-color: #2f4353 !important;
        display: inline-block;
        color: #fff;
        border-radius: 3px 3px 0px 0px;
        box-shadow: 0 0.5rem 0.8rem #00000080;
    }

    .tabs {
        padding-left: 25px;
    }

    .panels {
        background: #ffffff;
        box-shadow: 0 2rem 2rem #00000080;
        width: 100%;
        border-radius: 3px;
        overflow: hidden;
    }

    .panel {
        display: none;
        animation: fadein .8s;
    }

    .panel-title {
        font-size: 1.5em;
        font-weight: bold
    }

    .radio {
        display: none;
    }

    #one:checked ~ .panels #one-panel,
    #two:checked ~ .panels #two-panel,
    #three:checked ~ .panels #three-panel {
        display: block
    }

    #one:checked ~ .tabs #one-tab,
    #two:checked ~ .tabs #two-tab,
    #three:checked ~ .tabs #three-tab {
        background: #fff !important;
        color: #000;
        border-top: 3px solid #fff;
        border-left: 3px solid #fff;
        border-right: 3px solid #fff;
        font-weight: bold;
        border-top-left-radius: 7px;
        border-top-right-radius: 7px;
    }
</style>





@using (Html.BeginForm("AddInvoice", "Invoice", FormMethod.Post, new { enctype = "multipart/form-data", id = "frmaddInvoice", @class = "multisteps-form__form" }))
{
    <div class="warpper">
        <input class="radio" id="one" name="group" type="radio" checked>
        <input class="radio" id="two" name="group" type="radio">
        <div class="tabs">
            <label class="tab" id="one-tab" for="one">All Invoices</label>
            <label class="tab" id="two-tab" for="two">Create Invoice</label>
        </div>
        <div class="panels">
            <div class="multisteps-form__panel shadow p-4 m-4 list-box bg-white panel" data-animation="scaleIn" id="one-panel">
                @Html.Partial("~/Views/Invoice/_AllInvoices.cshtml", Model)
            </div>
            <div class="multisteps-form__panel shadow p-4 m-4 list-box bg-white panel" id="two-panel">

                <h5 class="multisteps-form__title">Upload Invoice</h5>
                <div class="row col-sm-12 col-md-12 col-xl-12 ml-auto mr-auto" style="display:flex;">
                    <div class="col-sm-6">
                        @Html.HiddenFor(model => model.filebase64)
                        @Html.HiddenFor(model => model.UploadedFileName)
                        @Html.DropDownListFor(model => model.Client, new SelectList(Model.lstCRMclient, "Value", "Text"), "Select Client", htmlAttributes: new { id = "ddluploadclientlist", @class = "input100" })
                    </div>
                    <div class="col-sm-6">

                        Invoice No : <span id="invoiceNumberUpload">@Model.ObjCRMInvoivce.InvoiceNumber</span>
                    </div>
                </div>
                <div class="row col-sm-12 col-md-12 col-xl-12 ml-auto mr-auto" style="display:flex;">
                    <div class="col-sm-4">
                        @Html.DropDownListFor(model => model.ObjCRMInvoivce.InvoiceType, new SelectList(Model.Type(), "Value", "Text"), "Select Type", htmlAttributes: new { id = "ddlInvoiceTypelist", @class = "input100" })
                    </div>
                    <div class="col-sm-3">
                        <div id="invoiceList" style="display:none;">
                            @Html.DropDownListFor(model => model.uploadInvoiceNo, new SelectList("", "Value", "Text"), "Select Invoice", htmlAttributes: new { id = "ddlInvoicenolist", @class = "input50" })
                        </div>
                    </div>
                    <div class="col-sm-5">
                        <input type="file" name="FileUpload" id="FileUpload" style="width:75%;" />
                        <button type="button" id="btnUpload" class="btn btn-primary"> <b>Upload</b></button>
                    </div>
                </div>
                <hr />
                <h5 class="multisteps-form__title">Create Invoice</h5>
                <div class="row col-sm-12 col-md-12 col-xl-12 ml-auto mr-auto" style="display:flex;">
                    @Html.HiddenFor(model => model.ObjCRMInvoivce.InvoiceId)
                    @Html.HiddenFor(model => model.ObjCRMInvoivce.Status)
                    @Html.HiddenFor(model => model.JsonData)
                    <div class="col-sm-6">
                        @Html.DropDownListFor(model => model.ObjCRMInvoivce.ClientId, new SelectList(Model.lstCRMclient, "Value", "Text"), "Select Client", htmlAttributes: new { id = "ddlclientlist", @class = "input100" })
                    </div>
                    <div class="col-sm-6">
                        @Html.HiddenFor(model => model.ObjCRMInvoivce.InvoiceNumber)
                        Invoice No : <span id="invoiceNumber">@Model.ObjCRMInvoivce.InvoiceNumber</span>
                    </div>
                </div>
                <div class="row col-sm-12 col-md-12 col-xl-12 ml-auto mr-auto" style="display:flex;">
                    <div class="col-sm-4">
                        @Html.TextBoxFor(model => model.ObjCRMInvoivce.InvoiceDate, "{0:MM/dd/yyyy}", new { @class = "input100 datepicker", @id = "dtInvoiceDate", @readonly = "readonly", @autocomplete = "off", placeholder = "Invoice Date" })
                        @Html.TextBoxFor(model => model.ObjCRMInvoivce.Reference, new { @class = "input100", placeholder = "Bank Account/Reference" })
                    </div>
                    <div class="col-sm-4">
                        @Html.TextBoxFor(model => model.ObjCRMInvoivce.InvoiceDueDate, "{0:MM/dd/yyyy}", new { @class = "input100 datepicker", @id = "dtInvoiceDueDate", @readonly = "readonly", @autocomplete = "off", placeholder = "Invoice Due Date" })
                        @Html.DropDownListFor(model => model.ObjCRMInvoivce.InvoiceCurrency, new SelectList(Model.lstCRMCurriencies, "Value", "Text"), "Select Currency", htmlAttributes: new { id = "ddlcurrencylist", @class = "input100" })
                    </div>
                    <div class="col-sm-4">
                        @Html.TextBoxFor(model => model.ObjCRMInvoivce.GSTNumber, new { @class = "input100", placeholder = "GST Number" })
                        <button type="button" id="btnAddItem" class="btn btn-primary" style="margin-left:20px;"><b> Add Item</b></button>
                    </div>
                </div>
                <div id="dvInvoiceItems"></div>
                <div class="row col-sm-12 col-md-12 col-xl-12 ml-auto mr-auto" style="display:flex;">
                    <div class="col-sm-4"> </div>
                    <div class="col-sm-4" style="text-align:end;">@Html.TextBoxFor(model => model.ObjCRMInvoivce.GSTRate, new { @class = "input50", @type = "number", @id = "txtgstno", placeholder = "GST Rate" })</div>
                    <div class="col-sm-4">
                        @Html.TextBoxFor(model => model.ObjCRMInvoivce.SubTotal, new { @class = "input100", @id = "txtsubtotal", @readonly = "readonly", placeholder = "Sub Total" })

                    </div>
                </div>
                <div class="row col-sm-12 col-md-12 col-xl-12 ml-auto mr-auto" style="display:flex;">
                    <div class="col-sm-4"></div>
                    <div class="col-sm-4"></div>
                    <div class="col-sm-4">
                        @Html.TextBoxFor(model => model.ObjCRMInvoivce.InvoiceTotal, new { @class = "input100", @id = "txttotal", @readonly = "readonly", placeholder = "Invoice Total" })
                    </div>
                </div>
                <div class="button-row d-flex mt-2">
                    <button type="button" id="btnSaveDraft" class="btn btn-primary ml-auto"> <b>Save as Draft</b></button>&nbsp;&nbsp;
                    <button type="button" id="btnSave" class="btn btn-primary"> <b>Save</b></button>
                </div>

                <br />

                <div id="dvClientInvoice">
                    @Html.Partial("~/Views/Invoice/_InvoiceList.cshtml", Model)
                </div>

            </div>

        </div>
    </div>
}

<script>
    $(document).ready(function () {
        document.getElementById("FileUpload").addEventListener('change', handleFileSelect, false);
        $('#dtInvoiceDate').datepicker({
            format: 'dd/mm/yyyy',
            showWeek: true
        });
        $('#dtInvoiceDueDate').datepicker({
            format: 'dd/mm/yyyy',
            showWeek: true
        });
        $('#btnAddItem').on("click", function () {
            AddInvoiceItem();
        });
        $('#btnSaveDraft').on("click", function () {
            SaveDraftInvoice();
        });
        $('#btnSave').on("click", function () {
            SaveInvoice();
        });
        $('#txtgstno').on("focusout", function () {
            CalculateSubTotal();
        });
        $('#btnUpload').on("click", function () {
            UploadInvoice();
        });
    });
    var count = 0;
    function AddInvoiceItem() {
        count++;
        var itemHTML = "<div class=\"multisteps-form__content\" id=dvItem" + count + " style=\"display:flex;\">";

        itemHTML += "<div class=\"col-sm-4\">";
        itemHTML += "<input type=\"text\" class=input100 placeholder=\"Item Description\" id=txtItemDesc" + count + "></input>";
        itemHTML += "</div>";

        itemHTML += "<div class=\"col-sm-4\" style=display:flex;>";
        itemHTML += "<input type=\"number\" class=input25 placeholder=\"Item Price\" id=txtItemPrice" + count + "></input>";
        itemHTML += "&nbsp;<input type=\"number\" class=input25 placeholder=\"Item Qty\" id=txtItemQty" + count + "></input>";
        itemHTML += "</div>";

        itemHTML += "<div class=\"col-sm-2\" style=align:end;>";
        itemHTML += "<input type=\"number\" class=input50 placeholder=\"Item Amount\" id=txtItemAmount" + count + " onfocusout=\"CalculateSubTotal(this)\"></input>";
        itemHTML += "</div>";
        itemHTML += "<div class=\"col-sm-2\" style=text-align:end;>";
        itemHTML += "<button onclick=\"removeItem(" + count + ")\" id=btn" + count + " type=\"button\" class=\"col question-btn-for-option btn text-center btn-primary profle-submit-btn-for-option\" style=\"margin-left: 5px;\"> - </button>";
        itemHTML += "</div>";

        itemHTML += "</div>";

        $("#dvInvoiceItems").append(itemHTML);
        
    }

    function removeItem(id) {
        $("#dvItem" + id).remove();
        CalculateSubTotal();
    }

    function SaveDraftInvoice() {
        var isValidate = ValidateInvoice();
        if (isValidate) {
            SaveToDB("Draft");
        }
    }

    function SaveInvoice() {
        var isValidate = ValidateInvoice();
        if (isValidate) {
            SaveToDB("Saved");
        }
    }

    function UploadInvoice() {

        var isValidate = ValidateUploadInvoice();
        if (isValidate) {
            $("#divLoader").show();
            var data = $('#frmaddInvoice').serialize();

            $.ajax({
                url: $('#frmaddInvoice').attr('action'),
                type: 'post',
                dataType: "html",
                data: data,
                success: function (data) {

                    if (data == "True") {
                        toastr.success("Invoice Uploaded");
                        var id = $('#ddluploadclientlist').val();
                        if (id != null && id != "") {
                            GetInvoices(id);
                            ClearAllFields();
                            $('#dvClientInvoice').show();
                        }
                        $("#divLoader").hide();
                    }
                    else {
                        toastr.error('error occured while saving data');
                        $("#divLoader").hide();
                    }
                }
            });
        }
    }

    function ValidateUploadInvoice() {
        var returnStatus = true;
        if ($('#ddluploadclientlist').val() == null || $('#ddluploadclientlist').val() == "") {
            toastr.error('Please select Client');
            $('#ddluploadclientlist').focus();
            returnStatus = false;
            return false;
        }
        if ($('#ddlInvoiceTypelist').val() == null || $('#ddlInvoiceTypelist').val() == "") {
            toastr.error('Please select type');
            $('#ddlInvoiceTypelist').focus();
            returnStatus = false;
            return false;
        }
        var selectedFile = $("#filebase64").val();
        if (selectedFile == "") {
            toastr.error('Please select file');
            returnStatus = false;
            return false;
        }
        return returnStatus;
    }

    function ValidateInvoice() {
        var returnStatus = true;

        if ($('#ddlclientlist').val() == null || $('#ddlclientlist').val() == "") {
            toastr.error('Please select Client');
            $('#ddlclientlist').focus();
            returnStatus = false;
            return false;
        }
        if ($('#dtInvoiceDate').val() == null || $('#dtInvoiceDate').val() == "") {
            toastr.error('Please select Invoice Date');
            $('#dtInvoiceDate').focus();
            returnStatus = false;
            return false;
        }
        if ($('#dtInvoiceDueDate').val() == null || $('#dtInvoiceDueDate').val() == "") {
            toastr.error('Please select Invoice due Date');
            $('#dtInvoiceDueDate').focus();
            returnStatus = false;
            return false;
        }
        if ($('#ddlcurrencylist').val() == null || $('#ddlcurrencylist').val() == "") {
            toastr.error('Please select Currency');
            $('#ddlcurrencylist').focus();
            returnStatus = false;
            return false;
        }

        var IDs = $("#dvInvoiceItems div[id^='dvItem']");
        if (IDs.length == 0) {
            toastr.error('Please add items in Invoice');
            returnStatus = false;
            return false;
        }
        $.each(IDs, function (index, value) {
            var id = value.id.substring(6, value.id.length);

            if ($("#txtItemDesc" + id).val() == null || $("#txtItemDesc" + id).val() == "") {
                $("#txtItemDesc" + id).focus();
                toastr.error('Please enter item description');
                returnStatus = false;
                return false;
            }
            if ($("#txtItemPrice" + id).val() == null || $("#txtItemPrice" + id).val() == "") {
                $("#txtItemPrice" + id).focus();
                toastr.error('Please enter item price');
                returnStatus = false;
                return false;
            }
            if ($("#txtItemAmount" + id).val() == null || $("#txtItemAmount" + id).val() == "") {
                $("#txtItemAmount" + id).focus();
                toastr.error('Please enter item amount');
                returnStatus = false;
                return false;
            }

        });

        return returnStatus;
    }

    function CalculateSubTotal(sentId) {
        var IDs = $("#dvInvoiceItems div[id^='dvItem']");
        var subTotal = 0;
        $.each(IDs, function (index, value) {
            var id = value.id.substring(6, value.id.length);
            if ($("#txtItemAmount" + id).val() != null && $("#txtItemAmount" + id).val() != "")
                subTotal = +subTotal + +$("#txtItemAmount" + id).val();
        });

        $("#txtsubtotal").val(subTotal);

        if ($("#txtgstno").val() == null || $("#txtgstno").val() == "") {
            $("#txttotal").val(subTotal);
        }
        else {
            var gstrate = $("#txtgstno").val();
            var total = +subTotal + (+subTotal * +gstrate / 100);
            $("#txttotal").val(total)
        }

    }

    function SaveToDB(status) {
        $("#divLoader").show();
        $("#ObjCRMInvoivce_Status").val(status);
        $("#filebase64").val("");

        var IDs = $("#dvInvoiceItems div[id^='dvItem']");
        var ItemObject = [];
        $.each(IDs, function (index, value) {
            var id = value.id.substring(6, value.id.length);
            invoiceItem = {}
            invoiceItem["ItemDesc"] = $("#txtItemDesc" + id).val();
            invoiceItem["ItemPrice"] = $("#txtItemPrice" + id).val();
            invoiceItem["ItemQty"] = $("#txtItemQty" + id).val();
            invoiceItem["ItemAmount"] = $("#txtItemAmount" + id).val();
            ItemObject.push(invoiceItem)
        });
        
        $("#JsonData").val(JSON.stringify(ItemObject));
        var data = $('#frmaddInvoice').serialize();
        $.ajax({
            url: $('#frmaddInvoice').attr('action'),
            type: 'post',
            dataType: "html",
            data: data,
            success: function (data) {
                if (data == "True") {
                    toastr.success("Invoice Saved");
                    var id = $('#ddlclientlist').val();
                    if (id != null && id != "") {
                        GetInvoices(id);
                        $('#dvClientInvoice').show();
                        ClearAllFields();
                    }
                    $("#divLoader").hide();
                }
                else {
                    toastr.error('error occured while saving data');
                    $("#divLoader").hide();
                }
            }
        });
    }

    $('#ddlclientlist').change(function () {
        var id = $('#ddlclientlist').val();
        if (id != null && id != "") {
            GetInvoiceNumber(id);
            GetInvoices(id);
            $('#dvClientInvoice').show();
        }
        else {
            $('#dvClientInvoice').hide();
        }
       ;
    });

    $('#ddluploadclientlist').change(function () {
        var id = $('#ddluploadclientlist').val();
        if (id != null && id != "") {
            GetInvoiceNumberForUpload(id);
            GetInvoices(id);
            $('#dvClientInvoice').show();
        }
        else {
            $('#dvClientInvoice').hide();

        }

    });

    $('#ddlInvoiceTypelist').change(function () {

        $("#divLoader").show();
        var id = $('#ddlInvoiceTypelist').val();

        if (id != null && id != "") {
            if (id == "Receipt") {
                var clientid = $('#ddluploadclientlist').val();
                GetInvoicesList(clientid);
                $('#invoiceList').show();
            }
            else {
                $('#invoiceList').hide();
            }
        }
        else {
            $('#invoiceList').hide();
        }
        $("#divLoader").hide();
    });

    function GetInvoicesList(id) {
         $("#divLoader").show();
        $.ajax({
            type: "POST",
            url: "/Invoice/GetInvoicesList",
            data: '{id: ' + JSON.stringify(id) + '}',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {

                $('[id*=ddlInvoicenolist]').empty();
                var listBox = $('[id*=ddlInvoicenolist]');
                $.map(response, function (item) {
                    var option = document.createElement('option');
                    option.text = item.Text;
                    option.value = item.Value;
                    listBox[0].append(option);
                });
                $("#divLoader").hide();
            },
            failure: function (response) {
            },
            error: function (response) {

            }
        });
    }

    function GetInvoiceNumber(id) {

        $.ajax({
            type: "POST",
            url: "/Invoice/GetInvoiceNumber",
            data: '{clientId: ' + JSON.stringify(id) + '}',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                $("#invoiceNumber").val(response);
                $("#ObjCRMInvoivce_InvoiceNumber").val(response);

            },
            failure: function (response) {
            },
            error: function (response) {
                $("#invoiceNumber").html(response.responseText);
                $("#ObjCRMInvoivce_InvoiceNumber").val(response.responseText);

            }
        });
    }

    function GetInvoiceNumberForUpload(id) {
        $.ajax({
            type: "POST",
            url: "/Invoice/GetInvoiceNumber",
            data: '{clientId: ' + JSON.stringify(id) + '}',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                $("#invoiceNumberUpload").val(response);
                $("#ObjCRMInvoivce_InvoiceNumber").val(response);
            },
            failure: function (response) {
            },
            error: function (response) {
                $("#invoiceNumberUpload").html(response.responseText);
                $("#ObjCRMInvoivce_InvoiceNumber").val(response.responseText);
            }
        });
    }

    function GetInvoices(id) {
        $("#divLoader").show();
        $.ajax({
            type: "POST",
            url: "/Invoice/GetInvoices",
            data: '{clientId: ' + JSON.stringify(id) + '}',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                $('#dvClientInvoice').html(response);
                $("#divLoader").hide();
            },
            failure: function (response) {
            },
            error: function (response) {
                $("#dvClientInvoice").html(response.responseText);
                $("#divLoader").hide();
            }
        });
    }

    function EditInvoice(invoiceId) {
        $("#divLoader").show();
        $.ajax({
            type: "POST",
            url: "/Invoice/GetInvoiceForEdit",
            data: '{InvoiceId: ' + JSON.stringify(invoiceId) + '}',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                LoadInvoiceDetails(response);
                $("#divLoader").hide();
            },
            failure: function (response) {
            },
            error: function (response) {
            }
        });
    }

    function LoadInvoiceDetails(response) {
        $("#ObjCRMInvoivce_InvoiceId").val(response.ObjCRMInvoivce.InvoiceId);
        $("#ObjCRMInvoivce_Status").val(response.ObjCRMInvoivce.Status);
        $('#ddlclientlist').val(response.ObjCRMInvoivce.ClientId);
        $("#ObjCRMInvoivce_InvoiceNumber").val(response.ObjCRMInvoivce.InvoiceNumber);
        $("#invoiceNumber").html(response.ObjCRMInvoivce.InvoiceNumber);
        $("#ObjCRMInvoivce_GSTNumber").val(response.ObjCRMInvoivce.GSTNumber);

        var invoiceDate = new Date(parseInt(response.ObjCRMInvoivce.InvoiceDate.substr(6)));
        $("#dtInvoiceDate").val(invoiceDate.format("dd/mm/yyyy"));
        $("#dtInvoiceDate").datepicker("setDate", invoiceDate.format("dd/mm/yyyy"));

        var invoiceDueDate = new Date(parseInt(response.ObjCRMInvoivce.InvoiceDueDate.substr(6)));
        $("#dtInvoiceDueDate").val(invoiceDueDate.format("dd/mm/yyyy"));
        $("#dtInvoiceDueDate").datepicker("setDate", invoiceDueDate.format("dd/mm/yyyy"));

        $("#ObjCRMInvoivce_Reference").val(response.ObjCRMInvoivce.Reference);
        $('#ddlcurrencylist').val(response.ObjCRMInvoivce.InvoiceCurrency);

        $("#txtsubtotal").val(response.ObjCRMInvoivce.SubTotal);
        $("#txtgstno").val(response.ObjCRMInvoivce.GSTRate);
        $("#txttotal").val(response.ObjCRMInvoivce.InvoiceTotal);

        LoadInvoiceItemsForEdit(response);

    }

    function LoadInvoiceItemsForEdit(response) {
        $("#dvInvoiceItems").html("");
        $.each(response.ObjCRMInvoiceItemLST, function (index, value) {

            var itemHTML = "<div class=\"multisteps-form__content\" id=dvItem" + value.ItemId + " style=\"display:flex;\">";

            itemHTML += "<div class=\"col-sm-4\">";
            itemHTML += "<input type=\"text\" class=input100 placeholder=\"Item Description\" id=txtItemDesc" + value.ItemId + "></input>";
            itemHTML += "</div>";

            itemHTML += "<div class=\"col-sm-4\" style=display:flex;>";
            itemHTML += "<input type=\"number\" class=input25 placeholder=\"Item Price\" id=txtItemPrice" + value.ItemId + "></input>";
            itemHTML += "&nbsp;<input type=\"number\" class=input25 placeholder=\"Item Qty\" id=txtItemQty" + value.ItemId + "></input>";
            itemHTML += "</div>";

            itemHTML += "<div class=\"col-sm-2\">";
            itemHTML += "<input type=\"number\" class=input50 placeholder=\"Item Amount\" id=txtItemAmount" + value.ItemId + " onfocusout=\"CalculateSubTotal(this)\"></input>";
            itemHTML += "</div>";
            itemHTML += "<div class=\"col-sm-2\" style=text-align:end;>";
            itemHTML += "<button onclick=\"removeItem(" + value.ItemId + ")\" id=btn" + value.ItemId + " type=\"button\" class=\"col question-btn-for-option btn text-center btn-primary profle-submit-btn-for-option\" style=\"margin-left: 5px;\"> - </button>";
            itemHTML += "</div>";

            itemHTML += "</div>";

            $("#dvInvoiceItems").append(itemHTML);

            $("#txtItemDesc" + value.ItemId).val(value.ItemDescription);
            $("#txtItemPrice" + value.ItemId).val(value.Price);
            $("#txtItemAmount" + value.ItemId).val(value.Amount);
            $("#txtItemQty" + value.ItemId).val(value.ItemQty);
            count = value.ItemId;
        });
    }

    function MarkPaidInvoice(invoiceId) {
        $("#divLoader").show();
        $.ajax({
            type: "POST",
            url: "/Invoice/MarkPaidInvoice",
            data: '{invoiceId: ' + JSON.stringify(invoiceId) + '}',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {

            },
            failure: function (response) {
            },
            error: function (response) {
                if (response.responseText == "True") {
                    toastr.success("Invoice marked as Paid Successfully");
                    var id = $('#ddlclientlist').val();
                    if (id != null && id != "") {
                        GetInvoices(id);
                        $("#divLoader").hide();
                    }
                }
                else {
                    toastr.error('error occured while saving updating status of Invoice');
                }
            }
        });
    }

    function PreviewInvoice(invoiceId) {
        $("#divLoader").show();
        $.ajax({
            type: "POST",
            url: "/Invoice/DownloadInvoice",
            data: '{invoiceId: ' + JSON.stringify(invoiceId) + '}',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {

                $("#divLoader").hide();
            },
            failure: function (response) {
            },
            error: function (response) {

                if (response.responseText != "") {
                   var docurl = "@baseURL/Temp/" + response.responseText;
                       window.open(docurl);
                    $("#divLoader").hide();
                }
                else {
                    toastr.error('error occured while saving updating status of Invoice');
                    $("#divLoader").hide();
                }
            }
        });
    }

    function handleFileSelect(evt) {
        var id = evt.currentTarget.id;
        var qId = id.substring(4, id.length);
        var f = evt.target.files[0]; // FileList object
        var reader = new FileReader();
        // Closure to capture the file information.
        reader.onload = (function (theFile) {
            return function (e) {
                var binaryData = e.target.result;
                var base64String = window.btoa(binaryData);
                $("#filebase64").val(base64String);
                $("#UploadedFileName").val($("#FileUpload")[0].files[0].name);
            };
        })(f);
        // Read in the image file as a data URL.
        reader.readAsBinaryString(f);
    }

    function ClearAllFields() {
        $("#dvInvoiceItems").html("");
        $("#ObjCRMInvoivce_InvoiceId").val("");
        $("#ObjCRMInvoivce_Status").val("");
        $('#ddlclientlist>option:eq(0)').attr('selected', true);
        //$('#ddlclientlist').val("Select Client");
        $('#ddluploadclientlist>option:eq(0)').attr('selected', true);
        //$('#ddluploadclientlist').val("Select Client");
        //$('#ddlInvoiceTypelist').val("Select Type");
        $('#ddlInvoiceTypelist>option:eq(0)').attr('selected', true);
        $("#ObjCRMInvoivce_InvoiceNumber").val("");
        $("#invoiceNumber").html("");
        $("#invoiceNumberUpload").html("");
        $("#ObjCRMInvoivce_GSTNumber").val("");
        $("#dtInvoiceDate").val("");
        $("#dtInvoiceDueDate").val("");
        $("#ObjCRMInvoivce_Reference").val("");
        $('#ddlcurrencylist').val("");
        $('#invoiceList').hide();
        $("#txtsubtotal").val("");
        $("#txtgstno").val("");
        $("#txttotal").val("");
        $("#FileUpload").val("");
    }
</script>
